<section class="d-flex text-light">
  <div class="container d-flex">
    <img
      src="images/noor.jpg"
      alt="About Image"
      class="square rounded-4"
    />
    <div style="margin-left: 5rem; margin-top: 1.5rem;">
      <h3>About Me</h3>
      <p>
        I aspire to secure a job or an internship at a reputable software house. My educational
         background has equipped me with a solid foundation in programming languages such as C, 
         C++, Kotlin, Angular, HTML, and CSS. My proficiency also extends to the realm of graphic
         design, including 3D Computer Graphics, modeling and animations. Additionally, I have 
        gained practical experience through hands-on projects, both independently and collaboratively.
      </p>
    </div>
  </div>
</section>
