section{
  min-height: 100vh;
  background-color: #343a40;
}

div{
  align-items: center;
  text-align: left;
  width: 70%;
}

img{
  width: 300px;
  box-shadow: 10px 10px 5px #191919d9;
}

p{
  margin-top: 2pc;
  font-size: 1.1rem;
}