<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-left: 3pc;">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" style="margin-right: 1pc;">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 1pc;">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item" style="margin-right: 1pc;">
          <a class="nav-link" routerLink="skills">Skills</a>
        </li>
        <li class="nav-item" style="margin-right: 1pc;">
          <a class="nav-link" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item" style="margin-right: 3pc;">
          <a class="nav-link" routerLink="contact-me">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
