<section class="home text-center py-5 bg-dark text-light">
  <div class="container">
    <img
      src="images/noor.jpg"
      alt="Profile Image"
      class="rounded-circle mb-4"
    />
    <div>
      <h4>Hey,</h4>
      <h1>I’m Noor-Ul-Aain</h1>
      <h3>Angular <span class="text-danger">Developer</span></h3>
      <p>
        A devoted final year student exploring Angular. Actively seeking to apply
        my acquired skills and knowledge to real-world project and contribute to the
        advancement of the industry and polish my skillset.
      </p>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-5">
      <button class="btn btn-primary" routerLink="../projects">My Projects</button>
      <button class="btn btn-outline-light" routerLink="../contact-me">Contact Me</button>
    </div>
  </div>
</section>
