<section class="projects text-light">
  <div class="container text-center">
    <h2>Projects</h2>
    <div class="line-container">
      <div class="line purple"></div>
      <div class="line yellow"></div>
    </div>
    <div>
      <p>
        My Angular 18 practice project showcases a robust and dynamic web
        application implementing key Angular concepts, including <b><i>data binding,
        event binding, property binding, and interpolation</i></b> for seamless
        interaction between the UI and application logic. Both <b><i>structural and
        attribute directives</i></b> are utilized to control DOM elements efficiently,
        while <b><i>template-driven and reactive forms</i></b> handle user inputs and
        validations effectively. The project incorporates <b><i>pipes</i></b> for data
        transformation and <b><i>control flow statements (*ngFor*, *ngIf-Else*,
        *ngSwitch*)</i></b> for dynamic rendering. <b><i>Signals</i></b> ensure optimized state
        management, and services combined with <b><i>dependency injection</i></b> facilitate
        modularity and reusability. <b><i>API integration</i></b> enables real-time data
        fetching and updates, enhancing interactivity. Overall, this project
        reflects a comprehensive understanding of Angular's core features,
        resulting in a scalable and maintainable application.
      </p>
    </div>
  </div>
</section>
