.contact-section {
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.line {
  height: 4px;
  width: 40%;
  border-radius: 2px;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 1rem;
}

img{
  width: 300px;
  border-radius: 35px;
  box-shadow: 4px 5px 5px rgba(108, 92, 231, 0.35);
  margin-left: 14rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.social-links a {
  color: white;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
  color: #ff5722;
  transform: scale(1.1);
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 7rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.705);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(108, 92, 231, 0.8);
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.send-btn {
  background-color: #6c5ce7;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 20px;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.send-btn:hover {
  background-color: #5a48c7;
}
